html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background: #9900cc;
}
header .logo {
    height: 70px;
    font-size: 50px;
}
main {
    flex: 1;
}
footer {
    padding: 20px;
    background: #9900cc;
}
